html,body{
    height:100%;
    width: 100%;
    margin:0px 0px 0px 0px;
    
}
#pageContent{
    height:fit-content;
    width:100%;
    height: 100%;
    background-color:lightblue;
}

#websiteNavigation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; 
    height:fit-content;
    padding: 10px 0px 10px 0px;
    background-color:lightskyblue;
}
#websiteNavigation > a{
    font-size: 20px;
    background-color: white;
    border:2px black solid;
    border-radius:50px;
    padding:10px 10px 10px 10px;
    text-decoration: none;
}
#websiteNavigation > a:hover{
    background-color: black;
    border:2px white solid;
    color:white;
}
.infos{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width:50%;   
    
}
.infos>*{
    
    text-align: center;
}
p{
    font-size: 20px;
}
a{
    
    font-size: 20px;
}
a:visited{
    color: black;
}

